{% extends 'base.twig' %}

{% import 'form.twig' as form %}

{% block title %}Modifier Description d'hotel{% endblock %}

{% block body %}

<br \>
    <header class="page-header"><meta http-equiv="Content-Type" content="text/html; charset=euc-kr">
        <h1 class="h3 mb-4 text-gray-800">Modifier Description d'hotel</h1>
    </header>
    <div class="row">
        <div class="col-md-12">
        <br \ ><br \>
            <form id="form1" name="form1" method="post" action="{{ actionEdit }}">
                <div class="row">
                    <div class="col-md-12">
                    {% for hotel in hotel %}   

                        {{ form.inputRequired('f_image', 'Image', hotel.img_descr) }}

                        {{ form.inputRequired('f_image1', 'Image de Carousel 1', hotel.carousel1) }}

                        {{ form.inputRequired('f_image2', 'Image de Carousel 2', hotel.carousel2) }}

                        {{ form.inputRequired('f_image3', 'Image de Carousel 3', hotel.carousel3) }}

                        {{ form.inputRequired('f_image4', 'Image de Carousel 4', hotel.carousel4) }}

                        <div class="row">
                            <div class="col-md-12">
                                {{ form.textareaRequired('f_description', 'Decription', hotel.description) }}
                            <div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <div align="right">
                    <a class="btn btn-secondary" href="restaurants.php?page=restaurants.twig">Annuler</a>
                    <button type="submit" class="btn btn-success">Valider</button>
                </div>
            </form>
        </div>
    </div>
    <br \><br \>
    <script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( 'f_description' );
    </script>
{% endblock %}